.d-flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}

.alert {
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.alert-close {
  padding-right: 30px !important;
  button {
    padding: 0;
    height: auto;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 8px;
    top: 0;
    font-size: 20px;
  }
}

.p-1 {
  padding: 0.2rem;
}
