.d-flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}

.closeButton {
  width: 24px;
  height: 23px;
  background: #eee;
  border: 1px solid #a9a1a1;
  cursor: pointer;
  border-radius: 50%;
  font-size: 15px;
  line-height: 1;
  font-weight: bolder;
  color: #111;
  &:hover {
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.08);
    background: rgb(255 0 0 / 75%);
    border: 1px solid rgb(255 0 0 / 75%);
    color: white;
  }
}

.alert {
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.alert-close {
  padding-right: 30px !important;
  button {
    padding: 0;
    height: auto;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 8px;
    top: 0;
    font-size: 20px;
  }
}

.p-1 {
  padding: 0.2rem;
}