.sub-option-section {
  border: 1px solid #898989;
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.sub-option-header {
  color: #ffffff;
  padding: 5px 10px;
  font-weight: 400;
  background-color: #BB8FCE;
  border-bottom: 1px solid #898989;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub-option-body {
  padding: 10px 10px;
}
.sub-option-body > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.sub-option-body > div input {
  margin-top: 1px;
}

.popup-content {
  padding: 0 !important;
}
.flow-edit-pop {
  h4 {
    padding: 5px 15px;
  }
}
.popup-content .modal-body{
  max-height: calc(100vh - 120px);
  overflow: auto;
}
.flow-edit-pop {
  overflow: hidden;
}

.sub-section {
  padding: 10px;
  border: 1px solid #999;
}

.popup-header {
  border-bottom: 1px solid #ddd;
}

.save-fixed-bottom {
  /* position: fixed; */
  bottom: 40px;
  background-color: white;
  padding-left: 20px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
}
