@import url("./styles/utility.scss");

.react-flow__edge .react-flow__edge-path {
  stroke: #ff0073;
  strokewidth: 2;
  stroke-opacity: 1;
}
/* #ff0073 */
.react-flow__edge-path,
.react-flow__connection-path {
  strokewidth: 3px;
  stroke: #ff0073;
}

.react-flow__handle-top {
  top: -3px;
  background-color: #ffffff !important;
}
.react-flow__handle-bottom {
  bottom: -3px;
  background-color: #ffffff !important;
}
.react-flow__handle.connectionindicator {
  outline: 2px solid #ff0073;
}

.react-flow__handle {
  background-color: #ffffff !important;
}
